## Return the updated user
#if($ctx.error)
  #if($ctx.error.type == "DynamoDB:ConditionalCheckFailedException")
    $util.error("Maximum of 10 contact links allowed", "ValidationError")
  #else
    $util.error($ctx.error.message, $ctx.error.type)
  #end
#end

$util.toJson($ctx.result)
